# --- Database ---
# Format: jdbc:postgresql://remnashop-db:5432/postgres
POSTGRES_URL=
POSGTRES_USER=
POSGRES_PASSWORD=

# Generate with 'openssl rand -base64 32'
JWT_SECRET=
# ISO-8601 duration notation
## PT1H     1 hour
## PT30M    30 minutes
## PT1H30M  1 hour 30 minutes
## PT10S	10 seconds
## P1D      1 day
## P1DT12H  1 day 12 hours
## PT0.5S   500 milliseconds
JWT_DURATION=
# --- Remnawave ---
REMNAWAVE_URL=
REMNAWAVE_API_KEY=

SUPERUSER_USERNAME=
SUPERUSER_PASSWORD=
SUPERUSER_EMAIL=